body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(165, 42, 42);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#nav-list{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}

a{
    color: rgb(32, 227, 241);
    text-decoration: none;
    font-size: 2em;
    padding: 1rem 2rem;
}

a:hover{
  background-color: rgb(71, 69, 66);
}

#welcome-section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: linear-gradient(
    62deg,
    #3a3d40 0%,
    #181917 100%
  );
}
h1{
  color: white;
  font-size: 2.5rem;
  font-weight: 750;
}

#welcome-section > p{
  color:  rgb(219, 205, 205);
  font-size: 1rem;
  font-weight: 100;
}

.project{
  margin: 0;
  padding: 8rem 2rem;
  text-align: center;
  background-color: rgb(82, 76, 88);
}
h2{
  font-size: 3.2rem;
  color: white;
}
.project-img{
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title{
  color: white;
  width: 100%;
  background: color #303841; 
  padding: 1em;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#Contact{
  background-color: rgb(151, 100, 100);
  width: 100%;
  height: 80vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Contact-p{
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 1.8re;
}
.image{
  width: 80%;
  height: 25%;
  position: absolute;
  right: 100px;
  bottom: 0;
}
.image img{
  position: absolute;
  height: 140%;
  left: 40%;
  transform: translate(-50%);
  bottom: 0;
}